body {
    width: 100%;
    height: 100%;
    background-image: url(Edited-background.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    overflow: hidden;
}

#tfl {
    display: none !important;
}

/* ---  Top Bar  --- */

.titlebar {
    background-color: rgb(133, 157, 88);
    width: 100%;
    height: 150px;
    position: absolute;
    top: 0px;
    left: 0px;
}

.title-align {
    height: 60px;
    width: 800px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 30px;
}

.account {
    width: 50px;
    height: 50px;
    position: absolute;
    top: 5px;
    left: 10px;
}

.accountHover {
    width: 160px;
    height: 60px;
    background-color: rgb(133, 157, 88);
    position: relative;
    right: -630px;
    border-radius:10px;
    border: none;
    top: -20px;
}

.accountHover:hover {
    background-color: rgb(149, 175, 98);
    cursor: pointer;
}
.user {
    font-family: "quicksand", sans-serif;
    font-weight: 700;

}

    .user.name {
        position:absolute;
        right: 10px;
        top: 5px;
        color: white;
    }

    .user.points {
        position:absolute;
        right: 25px;
        bottom: 10px;
        color: rgb(255,183,0);
}

.logo {
    position:relative;
    top: 0px;
    width: 50px;
    height: 50px;
    left: -158px;
}

    .logo:hover {
        cursor:pointer;
}

.socials-align {
    width: 160px;
    height: 40px;
    position: relative;
    top: -68px;
    right: -110px;
}

.socials {
    width: 30px;
    height: 30px;
    position: relative;
    border: none;
    background-color: none;
    text-decoration: none;
}

.socials:hover {
    cursor: pointer;
}

    .socials.instagram {
        top: 0px;
    }

    .socials.youtube {
        top: -3px;
        right: -10px;
    }

    .socials.facebook {
        top: 0px;
        right: -20px;
    }

    .socials.whatsapp {
        top: 0px;
        right: -30px;
    }

/* ---  Post-it note  --- */

.inform {
    width: 250px;
    height: 250px;
    position: absolute;
    top: 0px;
    left: 0px;
    margin: 10px;
    background-color: rgb(149, 175, 98);
    border-radius: 50px;

}

.test {
    width: 40%;
    height:600px;
    border-radius: 50px;
    position: absolute;
    bottom: 30%;
    left: 30%;
    border: none;
}


/* ---  Booking Bar  --- */

.bookingbar {
    background-color: rgb(255,183,0);
    margin-left: auto;
    margin-right: auto;
    margin-top: 200px;
    height: 50px;
    width: 900px;
    border-radius: 10px;
}

    .bookingbar.hotel {
        background-color: rgb(162, 116, 0);
}

.bookingtoggle {
    height: 30px;
    width: 30px;
    background-color: rgb(149, 175, 98);
    border: none;
    border-radius: 100%;
    position: relative;
    left: 10px;
    top: 10px
}

.Marker {
    width: 100%;
    height: 100%;
}

.separator {
    height: 40px;
    width: 3px;
    border-radius: 5px;
    background-color: rgb(225, 162, 0);
    position: relative;
}

    .separator.one {
        left: 400px;
        top: -78px;
    }

    .separator.two {
        left: 724px;
        top: -168px;
}

.align {
    border: none;
}

    .align.hidden {
        content-visibility: hidden;
    }

.checkin-align {
    height: 50px;
    width: 140px;
    position: relative;
    top: -33px;
    left: 80px;
}

.checkout-align {
    height: 50px;
    width: 140px;
    position: relative;
    top: -123px;
    left: 250px;
}

.people-align {
    height: 50px;
    width: 300px;
    position: relative;
    top: -213px;
    left: 414px;
}

.booksubmit-align {
    height: 50px;
    width: 150px;
    position: relative;
    top: -263px;
    left: 737px;
    border: none;
}



.label {
    width: 80px;
    height: 20px;
    background-color: rgb(149, 175, 98);
    font-family: "quicksand", sans-serif;
    font-weight: 700;
    font-size: 15px;
    border-radius: 10px;
    border-width: 4px;
    border-color: rgb(255,183,0);
    border-style: solid;
    text-align: center;
    color: white;
    position: relative;
}

    .label.hide {
        display: none;
    }

    .label.l-checkin {
        top: -15px;
        left: 25px;
    }

    .label.l-checkout {
        top: -15px;
        left: 25px;
    }

    .label.peopleno {
        top: -15px;
        left: 75px;
        width: 150px;
}

.people-input {
    background-color: rgb(255,183,0);
    width: 30px;
    height: 20px;
    font-family: "quicksand", sans-serif;
    font-weight: 700;
    font-size: 15px;
    padding: 5px;
    padding-left: 20px;
    border-radius: 10px;
    border-color: rgb(225, 162, 0);
    border-style: dashed;
    position: relative;
}

    .people-input.adult {
        bottom: 35px;
        right: -75px;
    }

    .people-input.child {
        bottom: 89px;
        right: -220px;
}

.person-label {
    color: black;
    position: relative;
    font-family: "quicksand", sans-serif;
    font-weight: 500;
}

    .person-label.hide {
        display: none;
    }

    .person-label.adults {
        right: -5px;
        bottom: 9px;
    }

    .person-label.children {
        right: -146px;
        bottom: 60px;
}

.dateSelect {
    width: 120px;
    height: 20px;
    font-family: "quicksand", sans-serif;
    font-weight: 500;
    background-color: rgb(255,183,0);
    border: none;
    border-radius: 10px;
    padding: 5px;
}

    .dateSelect:hover {
        cursor: pointer;
        background-color: rgb(243, 194, 73);
    }

    .dateSelect.checkin {
        position: relative;
        left: 0px;
        bottom: 17px;
        border-style: dashed;
        border-color: rgb(225, 162, 0);
    }

        .dateSelect.checkin.hide {
            display: none;
}

    .dateSelect.checkout {
        position: relative;
        left: 0px;
        bottom: 17px;
        border-style: dashed;
        border-color: rgb(225, 162, 0);
    }

        .dateSelect.checkout.hide {
            display: none;
}

.booking-submit {
    background-color: greenyellow;
    border: none;
    width: 120px;
    height: 30px;
    position: relative;
    top: 10px;
    left: 15px;
    border-radius: 10px;
    font-family: "quicksand", sans-serif;
    font-weight: 1000;
    font-size: large;
}

    .booking-submit:hover {
        height: 32px;
        width: 128px;
        top: 9px;
        left: 11px;
        cursor: pointer;
    }


/*
.hide {
    display: none;
    position: relative;
    left: 100px;
    top: 0px;
}

    .hide.show {
        display: flex;
        background-color: aliceblue;
        width: 50px;
        height: 50px;
}
*/


/* ---  Footer  --- */

.footer {
    width: 20000px;
    height: 1000px;
    background-color: rgb(198, 211, 172);
    position: relative;
    left: -1000px;
    bottom: 440px;
    z-index: -1;
}

/* Slideshow */

.container {
  position: relative;
  display: block;
}

.container.slideshow {
    max-width: 750px;
    overflow: hidden;
    top: 60px;

}

.dashAlign {
    width: 1100px;
    height: 600px;
    margin-left: auto;
    margin-right: auto;
}

.popups {
    width: 230px;
    height: 500px;
    border-radius: 10px;
    position: relative;
    left: 870px;
    top: -314px;
    background-color: rgb(149, 175, 98);
    color: white;
}

.videostyle {
    width: 750px;
    border-radius: 10px 10px 10px 10px;
    filter: brightness(0.55);
    z-index: -1;
    display: inline-block;
}

.zooadver {
    width: 300px;
    height: 80px;
    background-color: black;
    position: absolute;
    top: 30px;
    left: 50px;
    display: inline-block;
    z-index: 1;
    border-radius: 20px;
    opacity: 0.65;
    font-size: 20px;
    color: rgb(149, 175, 98);
    font-family: "quicksand", sans-serif;
    font-weight: 800;
    font-size: 30px;
    margin-top:auto;
    text-align: center;
    margin-bottom: auto;
}

.zooadver.blurb {
    top: 150px;
    width: 550px;
    height: 150px;
    font-size: medium;
    font-weight: 400;
}

.zooadver.hotel {
    color: rgb(225, 162, 0)
}

.sizing {
    width: 750px;
    height: 375px;
    margin-left: auto;
    margin-right: auto;
    border-radius: 20px;
}

.memberalign {
    position: relative;
    top: 20px;
    left: -30px;
}

.memberswitch {
    position: relative;
    top: 0px;
    width: 400px;
    height: 100%;
    z-index: 1;
    border-style: none;
    background-color: none;
}

.member {
    background-color: rgb(149, 175, 98);
    z-index: 1;
    display: block;
    position: relative;
    top: 50px;
    font-family: "quicksand", sans-serif;
    font-weight: 600;
    font-size: 22px;
    border-radius: 10px;
    text-align: center;
}

.member.large {
    width: 170px;
    height: 250px;
    z-index: 2
}

.member.small {
    width: 120px;
    height: 170px;
    z-index: 1;
}

.member.core {
    background-color: rgb(149, 175, 98);
    right: -50px;
    
}

.member.premium {
    background-color: rgb(225, 162, 0);
    top: -200px;
    right: -230px;
}

.memberposition {
    position: relative;
    top: -500px;
}

/* Hide the images by default */
.mySlides {
  display: none;
}

/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  bottom: 250px;
  right: -20px;
  width: 50px;
  height: 10px;
  margin-top: -15px;
  padding: 10px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 6px 0 0 6px;
  user-select: none;
  background-color: black;
  opacity: 0.65;
}

.next {
    top: 250px
}

.nextArrow, .prevArrow {
    display: block;
    height: 20px;
    position: relative;
    top: -5px;
}

.nextArrow {
    transform: rotate(-90deg); 
}

.prevArrow {
    transform: rotate(-90deg); 
}

/* On hover, make the tab extend from the side slightly */
.prev:hover, .next:hover {
    animation-name: tab;
    animation-duration: 0.7s;
    animation-fill-mode: both;
}

/* Fading animation */
.fade {
    animation-name: fade;
    animation-duration: 1.5s;
}

@keyframes fad3 {
    from {opacity: .4}
    to {opacity: 1}
}

@keyframes tab {
    from {
        position: absolute;
        right: -20px;
    }

    to {
        position: absolute;
        right: 0px
    }
}
